<div class="ekart--product--container">

<!-- <img [src]="product.pImage">
<p>Name: {{product.name}}</p>
<p>price: {{product.price}}</p>
<p>color: {{product.color}}</p>
<p>discount: {{ getDiscountedPrice().toFixed(2) }}</p> -->
<!-- <button [disabled]="!(product.inStock > 0)"> Buy Now</button> -->
<!--<input bind-value="name">-->
<!-- event  binding-->
<!-- <input (input)="onNameChange()">
<p>name={{name}}</p> -->
<!-- <button (click)="decrementCartValue()"> -</button>
<span>{{addToCart}}</span>
<button (click)="incerementCartValue()"> +</button> -->

<!-- disabled,Hidden,Checked for this Html attribute string interplotion does not workin example {{product.inStock}} in this case we use property binding -->  
<!-- and we use propert bind "bind- insteaad of "[]" bhut using square brackets in more commmon or []"-->
<div *ngFor="let item of listOfString">
    <p> Current element of arry is:{{item}}</p>
</div>
</div>